p {
    color: aqua;
    font-size: 20px;

    /*dianxiegang style.css
外部样式表，刚才我们说了外部样式表只能在外部的表中使用，tongugolink使用的你想用这个样式，你就引用。
通过一个标签引入央视，外部样子表需要为我们外部标签引入，这样意味着，只要想使用这些样式，都可以对其进行，引用时我们的样式可以在不同的页面之间复用。

我们甚至可以跨页面复用。外部样式比哦啊还有一个样式将我们的杨海生编写到css文件中，可以最大程度的使用到文件的缓存机制，从而加开我们网页加载速度，提高用户的体验，

当我们访问了的时候，这个到底是为什么，。
同时引用了我们的css那这个时候我们有什么好处。
第三种方式，内两样式不推荐使用，内部样式表，真正大规模使用的大部分是外部样式，尝试把这俩跟着方式都试一下，
接下来，我们自动申城，
*/

    font-size: 50px;
    /*字体大小*/
    line-height: 30px;
    /*行高*/
    font-family: 幼圆, 黑体;
    /*字体类型：如果没有幼圆就显示黑体，没有黑体就显示默认*/
    font-style: italic;
    /*italic表示斜体，normal表示不倾斜*/
    font-weight: bold;
    /*粗体*/
    font-variant: small-caps;
    /*小写变大写*/

}